Hardware/History/
Hardware/__Previews/
*.d
*.sym
*.o
*.lss
*.map
*.eep
*.bin
*.elf
*.hex
Firmware/LUFA/
Hardware/Project Outputs for SDVX_Mini/
Hardware/Project Logs for SDVX_Mini/
Hardware/SDVX_Mini.PcbDoc.htm
Hardware/Case/case.scad.*
Hardware/Case/outputs/
Hardware/datasheets/
Hardware/Case/Laser Templates/
