body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#logview {
    height: 100px;
    min-width: 100px;
    font-family: monospace;
    background-color: #EEE;
    overflow: scroll;
    overflow-x: hidden;
}

.center {
    position: relative;
    display:flex;
    justify-content: center;
    height: 100%;
}

.configBox {
    background-image: url("../img/topdown-small.png");
    width: 800px;
    height: 571px;
}

.connect {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect > button {
    font-size: 40pt;
}

.configOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.keySelection {
    margin-left: 5px;
}

.colourPicker {
    width: 50px;
    height: 20px;
}

.pinEntry {
    width: 40px;
}

.nestedSetting {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.4;
}